@import "tailwindcss";

.example-button{
  background: rgb(86, 1, 245);
  color:white;
  font-size: 1.8rem;
  border-radius: 0.4rem;
  border: none;
  padding:0.4rem 0.8rem;
  cursor: pointer;
}

@keyframes scroll {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 18s linear infinite;
}